.headerGrid {
  margin-top: 5rem;
}

.categoryOverlay {
  border-radius: 1rem;
  z-index: 5;
}

.banner {
  position: relative;
  margin: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0rem 1rem 0.1rem var(--rb-light-black-shadow);
}

.banner img {
  border-radius: 1rem;
  display: block;
}

.link {
  display: block;
}

@media screen and (min-width: 768px) {
  .headerGrid {
    display: grid;
    grid-template-areas:
      "tl tr"
      "bl br";
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 5rem auto 0 auto;
  }

  .banner {
    transition: 0.5s;
  }

  .topLeft {
    grid-area: tl;
  }

  .banner:hover {
    transform: scale(1.1);
  }

  .topRight {
    grid-area: tr;
  }

  .bottomLeft {
    grid-area: bl;
  }

  .bottomRight {
    grid-area: br;
  }
}
