.cart-card {
  width: auto;
  margin-bottom: 1rem;
  background-color: var(--rb-very-light-grey);
  border: none;
}

.cart-card-content--container {
  display: flex;
  /* border: 1px solid black; */
}

.cart-img--container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.cart-img--container .image {
  height: 4rem;
  object-fit: contain;
  /* border: 1px solid black; */
}

.cart-card-content {
  flex: 2;
  /* border: 1px solid black; */
}

.qty-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--rb-red);
  border-top: 1px solid var(--rb-grey);
}

select {
  background-color: inherit;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .cart-card-content--container {
    flex-direction: row-reverse;
  }

  .cart-img--container {
    padding: 0 1rem;
  }

  .cart-img--container .image {
    height: 8rem;
    object-fit: contain;
    /* border: 1px solid black; */
  }
}
