.btn-small {
  padding: 0.2rem 0.5rem;
  /* font-size: 1.2rem; */
}

.product-image {
  margin-top: 4rem;
  position: relative;
}

.product-details {
  padding: 1rem;
}

.product-page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-page-footer button {
  width: 50%;
  margin: 0;
  border-radius: 0;
}

.toast {
  display: block;
}

.product {
  text-decoration: none;
  color: var(--rb-light-black);
}
