.product-list-item {
  width: auto;
  background-color: #fff;
  border: 1px solid var(--rb-grey);
}

.list-item-details {
  display: flex;
}

.product-img--container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex-basis: 30%;
}

.overlay {
  text-align: center;
  font-weight: 600;
}

.product-img--container .image {
  height: 8rem;
  object-fit: contain;
}

.product-card-content--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70%;
  font-size: 0.9rem;
}

.product-card-icons--container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
  font-size: 1.4rem;
  text-align: center;
}
.rating--container {
  padding: 0.5rem 0;
}

.rating-badge {
  font-size: 0.8rem;
  max-width: fit-content;
  text-align: center;
}

.wish-icon-success-color {
  color: var(--rb-red);
}

.wish-icon--container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  background-color: var(--rb-very-light-grey);
}

.wish-icon {
  color: var(--rb-grey);
}

@media screen and (min-width: 768px) {
  .product-img--container .image {
    height: 15rem;
  }

  .product-card-content {
    height: 30vh;
  }

  .product-card-content p {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }

  .product-card-content div {
    padding: 0.5rem 0;
  }
}
