.product-card,
.cart-card {
  width: auto;
  border: 1px solid var(--rb-grey);
}

.product-card-content-container,
.cart-card-content-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.product-card-img-container {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  /* border: 1px solid black; */
}

.product-card-content {
  flex-basis: 70%;
  padding-right: 2.5rem;
}

.product-rating-star-num,
.cart-rating-star-num {
  max-width: fit-content;
  text-align: center;
}

.add-to-cart-btn {
  padding: 0.5rem 0.2rem;
  margin: 0.5rem auto;
  text-align: center;
  width: 80%;
}
