.product-details--container {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: var(--rb-very-light-grey);
}

.btn-small {
  padding: 0.2rem 0.5rem;
  /* font-size: 1.2rem; */
}

.product-image {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.product-image .image {
  height: 20rem;
  object-fit: contain;
}

.product-wish-icon--container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--rb-very-light-grey);
}

.product-details {
  padding: 1rem;
}

.product-details div {
  padding: 0.5rem 0;
}

.offers--container ul,
.services--container ul,
.highlights--container ul {
  padding: 1rem;
  margin-left: 1rem;
}

.product-page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rb-very-light-grey);
}

.product-page-footer button {
  width: 50%;
  margin: 0;
  border-radius: 0;
}

.add-to-cart-btn {
  color: var(--rb-black);
}

.product-page--btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .product-image {
    position: fixed;
    width: 30%;
    height: 80vh;
  }

  .product-page--btn {
    display: block;
  }

  .product-details {
    margin-left: 26rem;
  }

  .product-page-footer {
    display: none;
  }
}
