@media screen and (min-width: 768px) {
  .grid--container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }

  fieldset {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
  }

  fieldset label {
    display: block;
    padding-bottom: 1rem;
  }

  label input {
    margin-right: 1rem;
  }

  .product-list-item--container {
    padding: 1rem;
  }
}
