.wish-container {
  margin-top: 4rem;
}

.wishlist-header {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: center;
  background-color: var(--rb-very-light-grey);
  border-bottom: 2px solid var(--rb-grey);
}

.wish-card--container {
  display: flex;
  flex-wrap: wrap;
}

.empty-wish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .wish-card--container {
    padding: 1rem;
  }
  .empty-wish-container {
    height: 80vh;
  }
}
